body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d2b26;
    color: #ffffff;
    line-height: 3rem;
  
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px; 
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #429A8C;
 
}

.header .logo a {
    font-size:2rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none ;

}



.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-left: 10px;
    margin-right: 40px;
}

.nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: #ffc107;
    transition: transform 0.3s;
}

.hero {
    
    background: url('hero.jpg') center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    color: #ffffff;
}

.hero-content {
    margin-left: 60px;
    line-height: normal;
   font-size: 2rem;

}

.hero-content h2 {
    margin-left: 5%;
    color: #ffc107;
    margin-top: 5%;
}
.hero-content h1 {
    font-size: 120px;
    color: #ffc107;
    margin-bottom: 10px;
}

.hero-content2 h1{ 
    font-size: 120px;
    margin-bottom: 10px;
    color:#d21212
}
.hero-content3 h1{ 
    font-size: 120px;
    margin-bottom: 10px;
    color: #56a362;
}

.hero2 {
    background: url('herodue.jpg') center no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    color: #ffffff;
}

.hero-greta {
    background:url(greta-banner.jpg);
    height: 100vh;
    }

    .hero-wangari {
        background:url(wangari-banner.jpg);
        height: 100vh;
        }
        .hero-jane {
            background:url(jane-banner.jpg);
            height: 100vh;
            }
            .hero-david {
                background:url(david-banner.jpg);
                height: 100vh;
                }
    .hero-content-attivista {
        max-width: 60ch;
       margin-top: 100px;
       margin-left: 60px;
       line-height: normal;
     padding: 2%;
       color: #ffffff;
       font-size: 1.5rem;
        }
   

        
    .hero-content-attivista h1 {
        color: #ffc107;
        font-size: 92px;
     }
    
     .hero-content-attivista p {
     max-width: 70ch;
        font-size: 1.5rem;
     }

     .image-section{
       display: flex;
        justify-content: center;
        align-items: center;
        padding: 10%;
   
      
    }
    .image-section img{
       
 width: 100%;
 height: 50%;
    }
    
    

.banner {
    background-color: #ffc107;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.banner-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.banner-content h3 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.icona-banner {
    width: 15vh;
    height: 15vh;
}

.banner2{
background-color: #d21212;
height: 100px;
display: flex;
justify-content: center;
text-align: center;
padding: 20px;
}

 .banner3{
 background-color: #56a362; 
 height: 100px;
 display: flex;
 justify-content: center;
 text-align: center;
 padding: 20px;
}
.intro {
    margin: 4%;
    font-size: 1.3rem;
    text-align: left;
    max-width: 70ch;
    line-height: 34px;

    
}

.intro b {
    color: #ffc107;
}


.intro h2 {
    margin-top: 5%;
    color: #ffc107;
    margin-bottom: 0%;
    align-items: left;
}

.paragrafodestro{
    margin-top: 200px;
    margin-left: 600px;
    min-width: 70ch ;

}
.sfondo{
    background: url(plastic.jpg);
    background-size: 100%; 
}      

.grafico {
    position: fixed;
    bottom: 0; 
    width: 100%;
    height: 100%; 
    background: url('grafico.png') no-repeat bottom center; 
    background-size: cover; 
    z-index: -1; 
}


.line{
width: 60%;
height: 5px;
background-color:#ffc107;
border-radius: 3px;
}



.cards {
    align-items: center;
    justify-content: center;
    margin: 10%;
   display: grid; 
   grid-template-columns: repeat(3,1fr)
  
}
.cards-attivisti{
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
   display: grid; 
   grid-template-columns: repeat(4, 4fr); 
  
}

.card {
    padding: 40px;
    width: 300px; 
    height: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease;

}

.card img {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
    border-radius: 10px 10px 0 0 ;
}

.card-text {
  margin-top: -30px;
    background-color: #ffffff; 
 padding: 30px;
    border-radius: 0 0 10px 10px;
    color:black;
    text-align: center;
    line-height: 24px;
 
    
  }

.card a{
 text-decoration:none ;
}

.card:hover {
    transform: scale(1.05);  

}


.card-gialla {
    background-color: #ffc107;
    color: #004d3f;
}

.card-rossa {
    background-color: #d21212;
    color: #004d3f;
}

.card-verde {
    background-color: #28a745;
    color: #004d3f;
}



    
  
    
    .footer {
        background-color: #429A8C;
        height: auto;
        padding: 20px;
        text-align: center;
        color: #ffffff;
    }
    
    .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 60px;
        list-style: none;
        margin: 0;
       
    }
    
    .links li {
        list-style: none;
    
    
    }
    
    .links a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: color 0.3s;
        
    }
    
    .links a:hover {
        color: #ffc107;
    }
    
    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .socials img{
        
        width: 10vh;
        height:10vh;
        gap:20px;
        }
    

    